*

!.gitignore

!.github/
!.github/**

!public/
!public/**

!src/
!src/**

!test/
!test/**

!package.json
!package-lock.json

!CHANGELOG.md
!README.md
!AUTHORS
!LICENSE

!examples/
!examples/**

!jsdoc.json
!vite.config.js
!postcss.config.js

.npmrc

docs/source/
src/**/node_modules
src/.env
.env

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db