@import "reset";
@import "functions-and-mixins";
@import "animations";
@import "root";

body, html {
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
  min-height: 100%;
  height: 100%;
}
.none-pointer-events {
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.app-container {
  &,
  .header-container,
  .footer-container,
  .content-container {
    display: flex;
  }
  flex-direction: column;
  position: relative;
  height: 100%;

  .header-container,
  .footer-container {
    width: 100%;
    height: to-rem(80);
    background-color: #969696;
    color: #171616;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: to-rem(14);
  }

  .content-container {
    @include main-container();
    padding: to-rem(4);
    flex: 1;
  }
}